/*======================================
            Helper
======================================*/
.banner_cent {
    text-align: center;
}
.tid_12 {
    text-indent: -12px;
    padding-left: 12px;
}
.mgr_inden {
    margin-left: -5.5%;
    margin-right: -5.5%;
}
