/*======================================
        Footer
======================================*/
.footer {
    position: relative;
    background: $color-2;
    margin-top: 100px;
    .footerIn {
        padding: 16px 0;
        width: 900px;
        margin: auto;
    }
    .link-footer {
        padding-top: 60px;
        padding-bottom: 30px;
        ul {
            display: table;
            margin: auto;
            li {
                display: table-cell;
                vertical-align: bottom;
                padding: 0 15px;
                border-right: 1px solid $color-a;
                &:first-child {
                    border-left: 1px solid $color-a;
                }
                &:not(:first-child) {
                    padding-bottom: 4px;
                }
            }
        }
    }
    .copyright {
        text-align: center;
        color: $color-a;
    }
}
